extends ../_component/layout/base

block config
  -
    const title = template.head.title || 'Template title(Change Me!)';
    const description = template.head.description || 'Template description(Change Me!)';
block content
  .content
    each item in template.body
      if item.type == 'blockquote'
        blockquote.blockquote
          .blockquote__body
            each paragraph in item.data
              p=paragraph
          .blockquote__footer
            a(href=item.link, target="_blank")=item.source

      if item.type == 'pre'
        h3.pre-title=item.title
        each dataValue in item.data
          pre=dataValue

      if item.type == 'ul'
        ul
          each listItem in item.data
            li=listItem

      if item.type == 'h3'
        h3=item.data

      if item.type == 'h2'
        h2=item.data

      if item.type == 'paragraph' || item.type == 'p'
        each paragraph in item.data
          p=paragraph

      if item.type == 'paragraph-safe'
        each paragraph in item.data
          p!=paragraph

      if item.type == 'hr'
        hr

      if item.type == 'img'
        img(src=item.src)
    //- pre=JSON.stringify(template.body, null, 2)
    //- pre=JSON.stringify(template.head, null, 2)